services:
  nginx:
    container_name:
      nginx
    build:
      context: ./requirements/nginx
    volumes:
      # - nginx_data:/var/www/html  # Comentado, puedes activar si usas volumen nombrado
      #- ./requirements/nginx/html:/var/www/html
    ports:
      - "${NGINX_PORT}:443"
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always

  mariadb:
    container_name:
      mariadb
    build:
      context: ./requirements/mariadb
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    container_name:
      wordpress
    build:
      context: ./requirements/wordpress
    volumes:
      - ./requirements/wordpress/html:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - mariadb
    restart: always

networks:
  inception:
    driver: bridge

#volumes:
#  nginx_data:
