version: "3.8"

services:
  nginx:
    build:
      context:  ./requirements/nginx
    container_name: nginx
    ports:
      - "${NGINX_PORT}:443"
    restart: always
    networks:
      - inception
    volumes:
      #- nginx_data:/var/www/html

volumes:
  nginx_data:

networks:
  inception:
    driver: bridge
